@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins';
}

/*Inicio do Header padrão*/

.cabecalhoPrincipal .container {
    width: 90%;
    margin: 0 auto; 
}

.cabecalhoPrincipal{
    background-color: #0C5EB8;
    padding: 10px 0;
}

.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-logo img{
    width: 220px;
}

.cabecalhoPrincipal-logo a{
    text-decoration: none;
   color:white
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.cabecalhoPrincipal-nav-link{
    padding: 20px;
	margin-bottom: 10px;
	color: white;
	text-decoration: none;
	transition: .5s;
}

.cabecalhoPrincipal-nav-link-cadastre{
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 20px;
	margin-bottom: 10px;
	color: white;
	text-decoration: none;
	transition: .5s;
}

/*Fim do Header*/

.conteudoPrincipal-texto{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudoPrincipal h2{
    color: #303F50;
    font-size: 1.75rem;
    padding: 2rem 0 1.5rem 0;
    font-weight: bolder;
}

.conteudoPrincipal p{
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    padding-right: 2%;
}

.conteudoPrincipal p a{
    text-decoration: none;
}

.conteudoPrincipal img{
    width: 45%;
    border-radius: 15px;
}

.txtimg{
    display: flex;
}
.conteudoPrincipal h2::after{
    content:'';
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-image: linear-gradient(to left, #00FF47, #0F70DA);
    margin: 0 auto;
    margin-left: 0%;
    margin-top: 0.30%;
    position: relative;
    border-radius: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 140%;
    margin-top: 5%;
}

footer p a{
    text-decoration: none;
}