@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins';
    background-image: linear-gradient(to right,#0F70DA,#02ce3b);

}

/*Inicio do Header padrão*/

.cabecalhoPrincipal .container {
    width: 90%;
    margin: 0 auto; 
}

.cabecalhoPrincipal{
    background-color: #0C5EB8;
    padding: 10px 0;
}

.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-logo img{
    width: 220px;
}

.cabecalhoPrincipal-logo a{
    text-decoration: none;
    color:white;    
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.cabecalhoPrincipal-nav-link{
    padding: 20px;
	margin-bottom: 10px;
	color: white;
	text-decoration: none;
	transition: .5s;
	display: block;

}

.cabecalhoPrincipal-nav-link-cadastre{
    background-color: #fff;
    
    border-radius: 15px;
}

.cabecalhoPrincipal-nav a::after{
    content:"";
    width: 100%;
    height: 100px;
    background-color: #00FF47;
}

/*Fim do Header*/

.conteudoPrincipal .container{
    margin: 0 auto;
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff90;
    border-radius: 15px;
    padding: 2%;
    margin-top: 5%;
    overflow-y: auto;
}

.perfil-header h1{
    color: #171f27;
    font-size: 1.75rem;
    padding-bottom: 4%;
    font-weight: bolder;
    text-align: center;
}

.perfil-header h1::after{
    content:'';
    display: block;
    width: 12.5rem;
    height: 0.3rem;
    background-image: linear-gradient(to left, #00FF47, #0F70DA);
    margin: 0 auto;
    margin-left: 39.3%;
    position: relative;
    border-radius: 10px;
}

.perfil{
    display: flex;
}

.perfil-P{
    width: 60%;
}

.perfil-img{
    width: 40%;
}

img{
    width: 70%;
}

.container h3{
    font-size: 1.35rem;
    padding-bottom: 2%;
    font-weight: bolder;
    
}

.container h3::after{
    content:'';
    display: block;
    width: 15rem;
    height: 0.15rem;
    background-color: #303F50;
    margin: 0 auto;
    margin-left: 0%;
    position: relative;
    border-radius: 10px;
}

.perfil-P{
    display: flex;
    flex-direction: column;
}

.dados-numeros, .grau-entrada, .github, .linkedin, .periodo{
    display: flex;
}

.inicio, .grau{
    margin-right: 20%;
}

.cpf{
    margin-right: 10%;
}

.perfil-P p, .perfil-FA p, .perfil-DP p{
    font-size: 1.05rem;
    font-weight: bold;
}

.perfil-dividido{
    padding-top: 2%;
    width: 100%;
    display: flex;
}
.perfil-FA{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.perfil-DP{
    width: 50%;
}

.github a, .linkedin a{
    text-decoration: none;
    color: #202733;
    margin-left: 5%;
}

.padding{
    padding: 2%;
}

